.main-flex-box{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: stretch;
}
.spotify-section{
  flex: 1;
  border: .1rem solid black;
}
.youtube-section{
  flex: 1;
  border: .1rem solid black;
}
.spotify-logo{
  display: block;
  margin: 2rem auto auto auto;
  width: 30%;
}
#spotify-login-button{
  display: block;
  margin: 2rem auto auto auto;
}
.youtube-logo{
  display: block;
  margin: auto;
  width: 30%;
}
#youtube-login-button{ 
  display: block;
  margin: auto;
}
.video-player{
  width: 75vw;
  height: 60vh;
  border: .1rem solid black;
  margin: auto auto 1rem auto;
  text-align: center;
}